- content_for :head do
	%title Sinatra: contrib, helpers, sprockets, compass, bootstrap-sass, jquery

%h1 Hello World
= image_tag image_path('hello-world.png')
= partial 'partials/sample_part'
%br
= markdown :'partials/content'

:javascript
	$(document).ready( hello_world );
